LogEvent($"1 settings dir {System.IO.Path.GetDirectoryName(System.Reflection.Assembly.GetExecutingAssembly().Location)}.");
LogEvent($"2 settings dir {Directory.GetCurrentDirectory()}");
LogEvent($"3 settings dir {Environment.CurrentDirectory}");
LogEvent($"4 settings dir {System.IO.Path.GetDirectoryName(System.Reflection.Assembly.GetExecutingAssembly().GetName().CodeBase)}");