saveFileDialog1.Filter = "Excel Files|*.xls;*.xlsx|txt files (*.txt)|*.txt";
saveFileDialog1.FilterIndex = 0;
saveFileDialog1.DefaultExt = "xlsx";
saveFileDialog1.AddExtension = true;
saveFileDialog1.RestoreDirectory = true;