<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="IASosData" connectionString="Server=IAS-SQLSSS5; Database=dbIASosData; Uid=sa; Pwd=chess;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="TestMode" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RootDirectory" value="C:\IASApplications\Code\IAS.Projects" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="OutputDirectory" value="C:\IASApplications\Code\IAS.Projects\Projects" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TemplateDirectory" value="C:\IASApplications\Code\IAS.Projects\Templates" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SnippetDirectory" value="C:\IASApplications\Code\IAS.Projects\Snippets" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DatabaseTimeout" value="500" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>